<div class="grid-container">
  <div class="left">
    <%= image_tag('microphone.svg', class: 'microphone') %>
  </div>
  <div class="right">
    <div class="radio-title">
      <h2>Radio Centre Aéré</h2>
      <p>Les discours des membres de la résistance</p>
    </div>
    <% if @audio_messages.empty? %>
    <div>
      <h2>Pas de messages publiés!</h2>
    </div>
    <% else %>
    <% @audio_messages.each do |audio_message| %>
    <div class="audio-cards">
      <div class="audio-card">
        <% if audio_message.user.avatar.nil? %>
        <%= image_tag "avatars/krillin.jpeg" %>
        <% else %>
        <div class="card-avatar">
          <%= image_tag "avatars/#{audio_message.user.avatar}.jpeg" %>
        </div>
        <% end %>
        <h2 class="pseudo">
          <%= link_to audio_message.user.pseudo, resistenfant_path(audio_message.user.id), class: "user-link" %>
        </h2>
        <p class="grade">
          <%= audio_message.user.grade %>
        </p>
        <div class="player">
          <% if audio_message.audio_file.attached? == false %>
          <p>Pas d'audio</p>
          <% else %>
          <%= audio_tag rails_blob_path(audio_message.audio_file), controls: true %>
          <% end %>
        </div>
        <div id="comments-list" class="comments">
          <% @comments.each do |comment| %>
          <% if comment.audio_message_id == audio_message.id %>
          <%= render "comments/comment", comment: comment, user: comment.user %>
          <% end %>
          <% end %>
        </div>
        <div class="message-form">
          <form id="search-form" class="">
            <input id="form" class="" type="text" placeholder="Donnes tes impressions sur le message audio !" aria-label="Commentaire">
            <input type="submit" value="Oui chef !" class="submit-button">
          </form>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'message_creator' %>