<div>
  <h1>Créer un nouveau message pour la résistance !</h1>
</div>

<div>
  <p>Enregistres ton message</p>
  <button id="record">Record</button>
  <button id="stop" disabled>Stop</button>
  <button id="play" disabled>Play</button>
  <button id="save" disabled >Save</button>
</div>
<br>
<div id="saved-audio-messages">
  <h2>Messages enregistrés</h2>
  <p><%= @audio_messages  %></p>
</div>

<div>
  <p>importes ton message</p>
  <%= simple_form_for @audio_message do |f| %>
  <%= f.input :audio_file, as: :file %>
  <%= f.input :description %>
  <%= f.button :submit, :Importer %>
  <% end %>
</div>

<!-- should be useless now -->
<!-- <script src="../../javascript/packs/sound_recorder.js"></script> -->
