<!-- Hide background overflow -->
<div class="mask">
<!-- Background -->
<div class="body-background">
    <div class="folder-content">
        <!-- Shadow -->
        <div class="shadow-page"></div>
        <div class="page">
            <!-- Text -->
            <h4>On est là papa.</h4>
            <p>Tu vas faire quoi?</p>
            <!-- Polaroid -->
            <div id="first"class="photo-container">
                <%= image_tag('photo4.jpg', class: 'photo') %>
            </div>
        </div>
    </div>

    <!-- Folder -->
    <div class="folder"></div>
    <!-- <%= image_tag('folder.svg', class: 'folder') %> -->

    <!-- Polaroids -->
    <div id="second" class="photo-container">
        <%= image_tag('photo1.jpg', class: 'photo') %>
    </div>
    <div id="third" class="photo-container">
        <%= image_tag('photo2.jpg', class: 'photo') %>
    </div>
    <div id="fourth" class="photo-container">
        <%= image_tag('photo3.jpg', class: 'photo') %>
    </div>

    <!-- Back elements -->
    <%= image_tag('pencil.svg', class: 'pencil') %>
    <%= image_tag('flower.svg', class: 'flower') %>
    <%= image_tag('scribbles.svg', class: 'scribbles') %>
    <%= image_tag('stickman.svg', class: 'stickman') %>

    <div class="back-gradient"></div>
</div>
</div>