<% content_for :no_layout do %>
true
<% end %>
<%= image_tag('logo.svg', class:'logo') %>
<!-- <section class="body"> -->
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/X5B8k-TVX1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="page">
    <h4>This is a title</h4>
    <p>message de référence : <%= @message %></p>
    <p><%= @encrypted %></p>
    <p>test fonction décryptage : <%= @decrypted %></p>
</div>
<div class="back-page">   
    <div class="page">
        <div class="shadow-page"></div>
        <h4>On est là papa.</h4>
        <p>Tu vas faire quoi?</p>
        <div class="photo-container">
            <div class="photo"></div>
        </div>
    </div>
</div>
<%= image_tag('folder.svg', class: 'folder') %>
<div class="bg-logo"></div>
<!-- </section> -->